.Nav_Btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.Nav_Btn>div {
    margin: 0 20px;
}

.Level {
    display: flex;
    align-items: center;
}

.Level input {
    margin: 0 10px;
    width: 30px;
}
.nowStep{
    display: flex;
    align-items: center;
}
.nowStep p{
    font-size: 14px;
    font-weight: 300;
}
.nowStep input{
    width: 35px;
    text-align: center;
    border: none;
    font-size: 20px;
    color: #fa0;
}
.nowStep input:focus{
    outline: none;
}

.Level label {
    background-color: rgba(143, 134, 134, 0.795);
    padding: 5px 10px;
    box-shadow: 1px 3px 1px 1px #777;
}


.Panel {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #777;
    display: flex;
    flex-wrap: wrap;
}
.Save_Panel{
    display: none;
}

.Pic{
    width: 300px;
    height: 300px;
    margin: 0 0 0 20px;
}
.Pic img{
    width: 100%;
}
.box {
    overflow: hidden;
    position: absolute;
    border: 2px solid #fff;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.Game{
    display: flex;
    justify-content: center;
}
